$gray: #808080;
$half-black: rgba(0, 0, 0, .5);

$link--green: #42b983;
$link--dark-blue: #2c3e50;

$search-list-light-green: rgba(64, 208, 191, 0.02);
$selected-list-gray: rgba(64, 208, 191, 0.08);
$selected-list-border-gray: rgba(64, 208, 191, 0.5);

$box-shadow-light: rgba(0,0,0,0.75);
$box-shadow-super-light: rgba(0,0,0,0.30);

$light-border-black: rgba(0, 0, 0, .2);

$loader-spinner-blue: rgba(0, 174, 239, 0.2);
$loader-spinner-border-blue: rgba(0, 174, 239, 0.8);