$list-group-item-min-width: 233px;
$list-group-height: 80vh;
$list-group-image-width: 65px;

$border-radius-small: 2px;

$margin-vertical-small: 1rem 0;
$margin-horizontal-small: 0 .7rem;
$margin-bottom-small: .5rem;

$padding-right-small: 1rem;

$full-width: 100%;

$regular-font-size: 1.15rem;
